body {
	background-color: #EDF2F7;
}

#panel-proyectos {
	margin: 2% 0 0 2%;
	width: 70%;
}

#panel-proyectos .panel-heading {
	
}
#panel-proyectos .list-group-item-text {
    margin-bottom: 1em;
}

#panel-proyectos .btn-group {
	float: right;
	display: inline-block;
}

#panel-tareas {
	margin-top: 2%;
}
#panel-tareas table {
	
}

p+.progress {
	margin: 5px 0 0 0;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
